/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Nunito Sans", sans-serif;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/*Colors*/

:root {
  --primary-color: #7EAF2D;
  --secondary-color: #144058;
  --complement-color: #0d2634;
  --gradient-bg: linear-gradient(0deg, rgba(4, 44, 66, 1) 65%, rgba(20, 64, 88, 1) 100%);
  /* define gradient variable */
  --text-color-p: #232323;
  --text-color-hl: #60727C;
}

.bg-gradient-image {
  background: rgb(20, 64, 88);
  /*background: linear-gradient(0deg, rgba(4,44,66,1) 65%, rgba(20,64,88,1) 100%);*/
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(../images/plano-vector.png);
  height: auto;
  background-blend-mode: overlay !important;
}

.gradient-circle-blue {
  background: rgb(4,44,66,1);
  background-image: url(../images/vector-construction.svg);
  background-image: url(../images/vector-construction.svg), linear-gradient(180deg, rgba(28,87,119,1) 0%, rgba(4,44,66,1) 60%); 
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
}

.gradient-light {
  background: rgb(220,226,230);
background: linear-gradient(180deg, rgba(220,226,230,1) 10%, rgba(255,255,255,1) 30%);
}

h1 {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.7;
}

h2 {
  color: #144058;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

p {
  color: #232323;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7em;
}

.content-styles h1 {
  color: #144058;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  text-transform: none;
  letter-spacing: 0;
}
.content-styles h3 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  text-transform: none;
}

/* text styles*/
.years-exp {
  color: #154057;
  font-size: 130px;
  font-weight: 900;
  line-height: 1;
  width: 250px;
}
.text-exp {
  color: #60727C;
  font-size: 36px;
  font-weight: 800;
  line-height: 1;
  width: 300px;
  text-transform: uppercase;
  padding-top: 24px;
}
.hl-text {
  display: block;
}

.hl-text span {
  color: var(--primary-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1;
}
.hl-text p {
  color: var(--text-color-hl);
  font-size: 18px;
  font-weight: bold;
}
.hl-text-w{
  color: white;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
}
.text-white {
  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7em;
}
.title-white {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.title-white-contact {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.img-exp-block {
  display: block;
  border-radius: 4px;
  width: 100%;
  height: 500px;
  background: url(../images/backg-home2.jpg) no-repeat top right;
  background-size: cover;
}

.check-list li {
  color: white;
  font-size: 15px;
  line-height: 2;
  list-style-image: url(../images/check-circle.png);
}

.box-list {
  background: rgb(12,38,53);
background: linear-gradient(121deg, rgba(12,38,53,1) 0%, rgba(35,111,155,1) 100%);
padding: 16px;
width: 100%;
height: auto;
border-radius: 4px;
}

ul.check-list {
  margin-bottom: 0;
}

.check-list span {
  position: relative;
  top: -7px;
}

.box-green {
  background-color: var(--primary-color);
  padding: 24px 16px 24px;
  border-radius: 4px;
}
.box-green p {
  color: #0D1D25;
  padding-left: 120px;
  margin-bottom: 0;
}
.padd-left {
  padding-left: 140px;
 }

/* navBar */
.navbar-toggler {
  border: 0;
}
.btn-close-mob {
  margin: calc(-.5 * var(--bs-offcanvas-padding-y)) calc(-.5 * var(--bs-offcanvas-padding-x)) calc(-.5 * var(--bs-offcanvas-padding-y)) auto;
  background: transparent;
  border: 0;
}
.navbar-nav a.nav-link {
  color: #60727C;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
  border-bottom: 2px solid transparent;
}
.navbar-nav a.nav-link:hover {
  color: #7EAF2D;
  border-bottom: 2px solid #7EAF2D;
}

.navbar-nav a.nav-link.active {
  color: #7EAF2D;
  border-bottom: 2px solid #7EAF2D;
}

/*Hero Banner*/
.hero-bann {
  background: url(../images/Group-44.jpg) no-repeat top center;
  background-size: cover;
  min-height: 813px;
}

.hero-bann h1 {
  color: #FFF;
  text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.35);
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 62px;
  /* 129.167% */
  text-transform: uppercase;
}

.hero-bann p {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 144.444% */
}

.box-banner-content {
  position: relative;
}

.box-banner-content div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.cta-proyectos {
  padding: 10px 30px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-transform: uppercase;
}

.cta-proyectos::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%);
  transform: scale(0);
  transition: transform 0.5s ease;
}

.cta-proyectos:hover::after {
  transform: scale(4);
}

.cta-proyectos:hover {
  border-color: #658c24;
  background: var(--primary-color);
  color: white;
}

/* Footer */
.login-box {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  outline: none;
  background: transparent;
}

.login-box .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus,
.login-box .user-box textarea:focus {
  border-bottom: 1px solid #7EAF2D;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label,
.login-box .user-box textarea:focus~label,
.login-box .user-box textarea:valid~label {
  top: -20px;
  left: 0;
  color: #7EAF2D;
  font-size: 12px;
}

/* info-col */
.info-col {
  display: flex;
  margin-bottom: 16px;
}

.info-col b {
  font-size: 20px;
  font-weight: bold;
  padding-top: 6px;
}

.info-col-text {
  color: var(--text-color-p);
  font-size: 14px;
}

.bg-rounded-icon {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 6px;
}

.bg-rounded-icon i {
  align-self: center;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
  align-items: center;
}

.slider {
  padding: 2em 2em;
}

.slide img {
  width: 100px;
  height: auto;
  max-width: none;
  animation: scroll 60s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translatex(-1000%)
  }
}

.timeline {
  margin: 50px 0;
  list-style-type: none;
  display: flex;
  padding: 0;
  text-align: center;
}

.timeline li {
  transition: all 200ms ease-in;
}

.timestamp {
  width: 100%;
  /*for flexible width*/
  margin-bottom: 20px;
  padding: 0px 30px;
  position: relative;
  top: -70px;
  font-weight: 100;
  font-size: 15px;
  color: white;
}

.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 200ms ease-in;
}

.status span {
  font-weight: 600;
  padding-top: 20px;
}

.status span:before {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #7eaf2d;
  border-radius: 25px;
  outline: 6px solid rgba(126, 175, 45, 0.2);
  position: absolute;
  top: -49px;
  left: calc(50% - 12px);
  /*align circle to center*/
  transition: all 200ms ease-in;
}

.swiper-container {
  width: 100%;
  height: auto;
  margin: 50px auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.swiper-slide {
  width: auto;
  text-align: center;
  background: rgb(126, 175, 45);
  height: 2px;
  top: 30px;
}

/* ---- isotope ---- */

.filter-box {
  border: 1px solid #174b68;
  display: flex;
  align-items: center;
  padding: 16px;
}

.grid {
  margin-top: 50px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.button-iso {
  display: inline-block;
  padding: 10px 30px;
  background: transparent;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.button-iso:hover {
  background-color: #658c24;
  color: #fff;
}

.button-iso:active,
.button-iso.is-checked {
  padding: 10px 30px;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-transform: uppercase;
}

.button-iso.is-checked {
  padding: 10px 30px;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-transform: uppercase;
}

.button-iso:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  margin: 5px;
  padding: 0px;
  background: #888;
  color: #262524;
}

.element-item>* {
  margin: 0;
  padding: 0;
}

.element-item .name {
  color: #FFF;
  position: absolute;
  left: 15px;
  bottom: 60px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.zoomBOut {
  /* (A1) DIMENSIONS */
  max-width: 310px;
  max-height: 310px; 
  /* (A2) HIDE SCROLLBARS */
  overflow: hidden;
}

/* (B) INNER WRAPPER */
.zoomBIn {
  /* (B1) FIT OUTER WRAPPER */
  width: 100%;
  height: 100%; 
  /* (B3) ANIMATE ZOOM */
  transition: transform ease 0.3s;
}
 
/* (C) ZOOM ON HOVER */
.zoomBIn:hover { transform: scale(1.2); }

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.alkali {
  background: #F00;
  background: hsl(0, 100%, 50%);
}

.element-item.alkaline-earth {
  background: #F80;
  background: hsl(36, 100%, 50%);
}

.element-item.lanthanoid {
  background: #FF0;
  background: hsl(72, 100%, 50%);
}

.element-item.actinoid {
  background: #0F0;
  background: hsl(108, 100%, 50%);
}

.element-item.transition {
  background: #0F8;
  background: hsl(144, 100%, 50%);
}

.element-item.post-transition {
  background: #0FF;
  background: hsl(180, 100%, 50%);
}

.element-item.metalloid {
  background: #08F;
  background: hsl(216, 100%, 50%);
}

.element-item.diatomic {
  background: #00F;
  background: hsl(252, 100%, 50%);
}

.element-item.halogen {
  background: #F0F;
  background: hsl(288, 100%, 50%);
}

.element-item.noble-gas {
  background: #F08;
  background: hsl(324, 100%, 50%);
}

/* Splide Carousel */
.splide__arrow {
  background: #D7E6BE47;
  border-radius: 50px;
}
.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.splide__arrow svg {
  fill: #7EAF2D;
  height: 1.5em;
  width: 1.5em;
}
.splide__arrow:hover:not(:disabled) svg {
  fill: #2C3D10;
}
.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}
.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 3px solid #D7E6BE;
  opacity: 1;
  border-radius: 6px;
  transition: all ease .2s;
}
.splide__track--nav > .splide__list > .splide__slide {
  border: 3px solid transparent;
  cursor: pointer;
  opacity: 0.5;
  transition: all ease .2s;
}

.pos-y-container {
  position: relative;
  z-index: -1;
  min-height: 100%;
  padding-bottom: 50px;
  margin-top: -220px;
}

.translate-top-y {
  margin-top: 85px;
}

.content-top {
  padding-top: 230px;
  padding-bottom: 30px;
}

@media (max-width: 575.98px) {
  .bg-body-tertiary {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .offcanvas.offcanvas-end {
    width: 90%;
    border: 0;
  }
  .navbar-nav .nav-item {
    margin: 5px 0;
  }
  .navbar-nav a.nav-link-mob {
    color: #60727C;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    border-bottom: 0;
    text-decoration: none;
    display: block;
    padding: 12px;
  }
  .box-banner-content div {
    top: 0%;
    transform: translate(-50%, 25%);
  }
  .hero-bann {
    background: url(../images/banner-home-mobile.jpg) no-repeat top center;
    min-height: 575px;
  }

  .hero-bann h1 {
    font-size: 32px;
    line-height: normal;
  }
  .img-exp-block {
    height: 360px;
  }
  .info-col b {
    font-size: 20px;
  }

  .bg-rounded-icon {
    width: 40px;
    height: 40px;
  }
  .swiper-container {
justify-content: flex-start;
  }
  .timeline {
    flex-direction: column;
    margin: 35px 0;
  }
  .swiper-slide {
    width: 2px;
    text-align: center;
    background: rgb(126, 175, 45);
    height: auto;  
  }
  .timestamp {
    width: max-content;
    margin-bottom: 0px;
    top: -30px;
  }
  .date {
    width: max-content;
    display: block;
  }
  .status {
    padding: 0 5px;
  }
  .padd-exp {
    padding: 0 2.5rem;
  }
  .hl-text {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
  }
  .hl-text span {
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    margin-right: 16px;
    text-align: right;
    width: 32%;
  }
  .hl-text p {
    font-size: 18px;
    line-height: 1.1;
    font-weight: 800;
  }
  .button-iso {
    width: 100%;
  margin: 12px auto;
  }
  .grid {
    margin-top: 24px;
  }
  .login-box {
    padding: 20px 0 40px 0;
  }
  .padd-left {
    padding-left: 0px;
   }
   .box-green p {
    padding-left: 0;
   }
}